.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 让页面占满整个视口高度 */
}

.nav-bar {
  --td-navbar-bg-color: linear-gradient(to right, #5cc2c4, blue);
  --td-text-color-primary: #fff;
}

.tab-bar__content {
  flex: 1; /* 让该部分占据剩余的垂直空间 */
}

/* 其他样式 */
